
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
}

body{
    background-color: #b5215f;
}

.menu-bar{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 90vw;
    height: 10vh;
    background-color: #b5215f;
}

.menu-button{
    position: absolute;
    right: 20px;
}

.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 10vw;
    height: 100vh;
    background-color: #b5215f;
}

.image-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.logo-img{
    width: 100px;
    min-width: 100px;
    margin: 0 auto;
}

.logo-txt{
    font-size: larger;
    font-weight: bolder;
    color: #fff;
    margin-top: 20px;
}

.logout-button{
    width: fit-content;
    position: absolute;
    bottom: 20px;

}

.listado{
    position: fixed;
    top: 10vh;
    right: 0;
    width: 89vw;
    height: 88vh;
    background-color: #DCDCDD;
    border-radius: 20px;
    margin: 10px 10px 10px 0;
    padding: 20px;
    overflow-y: auto;
}

#nuevo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #b5215f;
    padding: auto;
}
.imgp{
    width: 100px;
    height: 100px;
    float: right; 
}

.pg1{
    background: #b5215f;
    padding: 30px;
}

.btn-primary{
    width: 150px; 
    height: auto;
    cursor: pointer;
    border: 2px solid #FFF !important;
    background: #FFF !important;
    border-radius: 12px;
    transition: 0.3s;
}
.btn-primary:hover {
    background-color: #DA2285 !important;
    color:#FFF !important;
    box-shadow: none;
    border: 2px solid #FFF !important;
}
.d1{
    background: #b5215f;

}
.frm {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-grid {
    width: 100%;
}
.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#Datos{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.pg2{
    background: #b5215f;
    padding: 10px;
    width: 87%;
}
.tabla-datos {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid transparent !important;
}

.tabla-datos th,
.tabla-datos td {
    padding: 8px;
    border: 1px solid transparent;
    text-align: center;
}

.tabla-datos th {
    border: 1px solid transparent !important;
    text-align: center;
    background-color: #DCDCDD !important;
}

.tabla-datos-td {
    vertical-align: middle;
    border: 1px solid transparent !important;
}

.action-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boton_eliminar {
    width: 150px; 
    height: 45px;
    cursor: pointer;
    border: 2px solid #DA2285 !important;
    background: #FFF !important;
    color: #DA2285 !important;
    border-radius: 12px;
    transition: 0.3s;
    margin: 5px auto 5px auto;
}

.boton_eliminar:hover {
    background-color: #DA2285 !important;
    color:#FFF !important;
    box-shadow: none;
    border: 2px solid #FFF !important;
}

.column{
    color: #000;
    margin-right: 30px;
    padding-right: 20px;
}

::-webkit-scrollbar{
    width: 10px;

}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    margin-block: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    background-clip: content-box;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}